<script setup lang="ts">
import { ref } from 'vue'
import MeowMeow from './MeowMeow.vue'
import { logEvent } from 'histoire/client'

const type = ref<'neutral' | 'happy' | 'sad'>('neutral')
</script>

<template>
  <Story title="🐱 Meow">
    <template #controls>
      <HstSelect
        v-model="type"
        :title="'Type'"
        :options="{
          neutral: 'Neutral',
          happy: 'Happy',
          sad: 'Sad'
        }"
      />
    </template>
    <Variant>
      <MeowMeow :type="type" @click="logEvent('Click', $event)" />
    </Variant>
  </Story>
</template>

<docs lang="md">
# My documentation

Checkout this [cool video](https://www.youtube.com/watch?v=dQw4w9WgXcQ)!
</docs>
