<script setup lang="ts">
import { computed } from 'vue'

const props = defineProps<{
  type: 'neutral' | 'happy' | 'sad'
}>()

const emoji = computed(() => {
  switch (props.type) {
    case 'neutral':
      return '🐱'
    case 'happy':
      return '😺'
    case 'sad':
      return '😿'
  }
  return '🙀'
})
</script>

<template>
  <span>{{ emoji }}</span>
</template>
