<template>
  <Story title="Cars" :layout="{ type: 'grid', width: 200 }">
    <Variant title="default"> <span>🚗</span> </Variant>
    <Variant title="Fast"> 🏎️ </Variant>
    <Variant title="Slow"> 🚜 </Variant>
  </Story>
</template>
