<script lang="ts" setup>
function initState() {
  return {
    count: 0,
    text: ''
  }
}

function initState2() {
  return {
    meow: {
      foo: 'bar'
    }
  }
}
</script>

<template>
  <Story title="InitState">
    <Variant title="default" :init-state="initState">
      <template #default="{ state }">
        <h1>State</h1>
        <div>
          <pre>{{ state }}</pre>
          <input v-model.number="state.count" type="number" />
          <input v-model="state.text" />
        </div>
      </template>

      <template #controls="{ state }">
        <div class="controls">
          <button @click="state.count--">-1</button>
          <button @click="state.count++">+1</button>
          <span>{{ state.count }}</span>
        </div>

        <HstText v-model="state.text" title="Text" />
      </template>
    </Variant>

    <Variant title="Nested state object" :init-state="initState2">
      <template #default="{ state }">
        <input v-model="state.meow.foo" />
      </template>

      <template #controls="{ state }">
        <HstText v-model="state.meow.foo" title="meow.foo" />
      </template>
    </Variant>
  </Story>
</template>
